@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

header .navbar {
  padding-left: 3.6rem;
}

header .nav-item {
  margin-right: 2rem;
}

header .fixed-top {
  background-color: black;
  height: 5rem;
  }

.nav-link:hover {
  color:red;
}

#hello{ 
  font-size: 5rem;
  margin: auto;
  font-family: 'Bebas Neue', cursive;
}

#into-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/bgg.png");
  color: white;
  scroll-behavior: smooth;
}

#into-section .introduction {
  padding-top: 21rem;
}
#into-section .projects-button {
  text-decoration: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#into-section .blackout {
  background: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
}

.btn-main{
  background-color: #f1bb7c;
  color: black !important;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.btn-main:hover {
  text-decoration: none;
  background-color: #94724B;
  color: white !important;
}

.sub-btn {
  background-color: black;
  color: white !important;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.hide {
  display: none;
}

.sr {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.head-head {
  font-weight: bold;
  color: black;
}

.under-bord {
  line-height: 0;
  color: #f1bb7c;
}

#about-section {
  background-image: url("/img/2.png"); 
  scroll-behavior: smooth;
}

#project-section {
  background-color: #f8f8f8;
  scroll-behavior: smooth;
}
#project-section .project-container .card {
  margin: 0.5rem;
  width: 12rem;
  border: 1px solid #4056A1;
  height: 200px;
}
#project-section .project-container .blackout {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  opacity: 0;
  text-align: center;
  padding-top: 1rem;
  transition: opacity 1s;
}
#project-section .project-container .blackout .project-name {
  color: #4056A1;
}
#project-section .project-container .blackout .card-tags {
  padding-top: 1rem;
}
#project-section .project-container .blackout .tag {
  font-size: 0.7rem;
  border: 1px solid #4056A1;
  color: white;
  background-color: #4056A1;
  text-transform: uppercase;
  padding: 0.2rem;
}
#project-section .project-container .blackout:hover {
  opacity: 1;
}
#project-section .project-container .card-img-top {
  padding: 1rem;
}

.ready {
  min-height: 30vh;
  color: white;
  background-image: url("/img/bg-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0px;
}
.ready .btn-main {
  margin-bottom: 12vh;
}


#services-section .container {
  text-align: center;
}

#services-section .service-card {
  height: 35vh;
  width: 18vw;
  background-color: white;
  color: black;
  font-weight: bold;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  border: solid 2px transparent;
}

#services-section .service-card:hover {
  cursor: pointer;
  border-color: #f1bb7c;
}

#services-section .service-about {
  font-weight: bold;
}
#services-section .service-icon {
  filter: invert(33%) sepia(10%) saturate(4449%) hue-rotate(220deg) brightness(62%) contrast(84%);
}

.letsgo {
  animation: fade 0.2s ease-in;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#contact-us {
  background-color: #f1bb7c;
}
#contact-us textarea.form-control {
  height: 10em;
}
#contact-us .contact-submit {
  text-align: center;
  margin-top: 1rem;
}
#contact-us .contact-submit .sub {
  width: 10rem;
}
#contact-us .btn-tech {
  background: #4056A1;
  color: white;
  border-radius: 10px;
}
#contact-us .btn-tech:hover {
  background: white;
  color: #4056A1;
  border: 1px solid #4056A1;
}

#no-conus {
  position: absolute;
  right: 0;
  border-color: transparent;
  color: white;
  background-color: #4056A1;
}

#no-conus:hover {
  background-color: white;
  border-color: #4056A1;
  color: #4056A1;
}

.toupwrap {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  background-color: #4056A1;
  border-radius: 30px;
  padding-top: 1.2vh;
}

.toupwrap:hover {
  background-color: white;
  cursor: pointer;
}
.toupwrap:hover .to-up-img {
  transform: rotate(90deg);
  filter: invert(33%) sepia(10%) saturate(4449%) hue-rotate(220deg) brightness(62%) contrast(84%);
}

.to-up-img {
  transform: rotate(90deg);
  filter: invert(100%) sepia(86%) saturate(0%) hue-rotate(135deg) brightness(110%) contrast(112%);
}

.input-group-text {
  min-width: 4.8rem;
}

#tt-technologies {
  background-image: url("/img/bg3.png") no-repeat;
  margin: 0 auto;
  padding-top: 50px;
  height: 800px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  color: white;
}
#tt-technologies .entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}
#tt-technologies .content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 30s infinite linear;
  transform-style: preserve-3d;
}
#tt-technologies .content-carrousel:hover {
  cursor: pointer;
}
#tt-technologies .content-carrousel figure {
  width: 120px;
  height: 25vh;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
  position: absolute;
}
#tt-technologies .content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(2) {
  transform: rotateY(20deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(3) {
  transform: rotateY(40deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(4) {
  transform: rotateY(60deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(5) {
  transform: rotateY(80deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(6) {
  transform: rotateY(100deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(7) {
  transform: rotateY(120deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(8) {
  transform: rotateY(140deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(9) {
  transform: rotateY(160deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(10) {
  transform: rotateY(180deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(11) {
  transform: rotateY(200deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(12) {
  transform: rotateY(220deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(13) {
  transform: rotateY(240deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(14) {
  transform: rotateY(260deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(15) {
  transform: rotateY(280deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(16) {
  transform: rotateY(300deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(17) {
  transform: rotateY(320deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(18) {
  transform: rotateY(340deg) translateZ(300px);
}
#tt-technologies .content-carrousel figure:nth-child(19) {
  transform: rotateY(360deg) translateZ(300px);
}
#tt-technologies .shadows {
  position: absolute;
}
#tt-technologies .content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 50%;
  height: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#tt-technologies .content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}
@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media only screen and (max-width: 425px) {
  #into-section {
    background-image: url("/img/1.png");
  }

  #services-section .service {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
  }

  .project-card {
    margin: 1rem;
    color: #4056A1;
    width: 50vw !important;
    height: 40vh !important;
  }
  .project-card .card-img-top {
    height: 40%;
  }
  .project-card .tag {
    display: none;
  }

  .already {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  header .navbar {
    padding-left: 0.5rem;
  }

  #into-section {
    background-image: url("/img/1.png");
  }

  .fixed-top {
    position: static;
  }

  .already {
    text-align: center;
  }

  .project-card {
    margin: 1rem;
    color: #4056A1;
    width: 50vw !important;
    height: 40vh !important;
  }
  .project-card .card-img-top {
    height: 40%;
  }
  .project-card .tag {
    display: none;
  }

  #services-section .service .center-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #services-section .service-card {
    height: 30vh;
    width: 50vw;
  }
}

/*# sourceMappingURL=style.css.map */
.text {
  position: absolute;
  left: 33rem;
}

.word {
  position: absolute;
  opacity: 0;
}

.letter {
  left:9rem;
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.techp {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.flutter {
  color: #00A8F4;
}

.python {
  color: #366C9A;
}

.django {
  color: #092C1E;
}

.js {
  color: #F7C327;
}

.bc {
  color: #2FD4DF;
}

.shopify {
  color: #91B943;
}

.more {
  color: black;
}


.our-team {
  margin-top: -20rem;
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #f1bb7c;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f7f5ec;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f1bb7c;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f1bb7c;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: black;
}

.teamsection {
  margin-top: 5%;
}

.teams {
  margin-top: -23rem;
}
